<div id="loanCosts" class="imp-cgrid loan-costs">
    <div class="header main">
        <span class="tlabel" id="closingCosts">Loan Costs</span>
    </div>
    <div class="container" ng-repeat="(costSection, loanCosts) in costDetailsCtrl.costDetailsData.groupedLoanCosts" ng-class="{'purchase': !costDetailsCtrl.isRefinance}">
        <div class="row" ng-class="{'edit-mode': costDetailsCtrl.closingCostsRW}"
             ng-mouseover="costDetailsCtrl.hoverInSection(costDetailsCtrl.costDetailsData.groupedLoanCosts[costSection])"
             ng-mouseleave="costDetailsCtrl.hoverOutSection(costDetailsCtrl.costDetailsData.groupedLoanCosts[costSection])"
             ng-click="costDetailsCtrl.addCost(true, costDetailsCtrl.costDetailsData.groupedLoanCosts[costSection])">
            <div ng-mouseover="costDetailsCtrl.hoverInSection(costDetailsCtrl.costDetailsData.groupedLoanCosts[costSection])"
                 ng-mouseleave="costDetailsCtrl.hoverOutSection(costDetailsCtrl.costDetailsData.groupedLoanCosts[costSection])"
                 class="section-add">
                <imp-circle size="xsmall" color="#208DDC" is-plus="true" ng-show="costDetailsCtrl.costDetailsData.groupedLoanCosts[costSection].hoverEdit && costDetailsCtrl.closingCostsRW"></imp-circle>
            </div>
            <div class="col-a">
                {{costSection | uppercase}}
                <span ng-show="costDetailsCtrl.costDetailsData.groupedLoanCosts[costSection].hoverEdit && costDetailsCtrl.closingCostsRW" class="imp-hyperlink hyperlink">click to add a fee</span>
            </div>
            <div class="col-m"></div>
            <div class="col-m" ng-if="!costDetailsCtrl.isRefinance"></div>
            <div class="col-m"></div>
        </div>
        <div class="row" ng-repeat="loanCost in loanCosts | filter: costDetailsCtrl.removedItemsFilter | filter: costDetailsCtrl.zeroItemsFilter"
             ng-class="{'edit-mode': loanCost.canEdit && costDetailsCtrl.closingCostsRW}"
             ng-mouseover="costDetailsCtrl.hoverIn(loanCost, costDetailsCtrl.costDetailsData.groupedLoanCosts[costSection])"
             ng-mouseleave="costDetailsCtrl.hoverOut(loanCost, costDetailsCtrl.costDetailsData.groupedLoanCosts[costSection])"
             ng-click="costDetailsCtrl.rowClick(loanCost, true)">
            <div ng-show="loanCost.hoverEdit && !loanCost.editMode && costDetailsCtrl.closingCostsRW" class="imp-icon-pen"></div>
            <div class="col-a">
                <div class="sub-col-s">
                    <span ng-if="loanCost.isAprCost" ng-class="{'apr': true, 'fully-paid-by-rebate' : costDetailsCtrl.isCostFullyPaidByRebate(loanCost), 'partially-paid-by-rebate' : costDetailsCtrl.isCostPartiallyPaidByRebate(loanCost)}">
                        APR
                    </span>
                </div>
                <div class="sub-col-xs"><span class="imp-disclaimer">{{$index + 1 | numberFixedLength:2}}</span></div>
                <div class="sub-col-m">
                    <span ng-show="!loanCost.editMode">{{loanCost.name}}</span>
                    <div class="imp-span-ddl-container medium" ng-show="loanCost.editMode"
                         ng-class="{'disabled' : costDetailsCtrl.isLoanCostRowDisabled(loanCost)}">
                        <select name="costType_{{loanCost.sectionId}}_{{$index}}"
                                class="imp-ddl"
                                ng-model="loanCost.uniqueCostTypeId"
                                ng-disabled="costDetailsCtrl.isLoanCostRowDisabled(loanCost)"
                                ng-change="costDetailsCtrl.costTypeChanged(loanCost, true)">
                            <option value="null" ng-selected="{{loanCost.uniqueCostTypeId==null}}" disabled style="color:#999;display:none">Cost Type</option>
                            <option ng-repeat="costType in costDetailsCtrl.getSectionCostTypes(true, loanCost.sectionId) | orderBy: 'text'"
                                    value="{{costType.value}}"
                                    ng-disabled="costDetailsCtrl.isOptionDisabled(true, costType.value, loanCost.uniqueCostTypeId)"
                                    ng-selected="{{loanCost.uniqueCostTypeId==costType.value}}">
                                {{costType.text}}
                            </option>
                        </select>
                    </div>
                </div>
                <div ng-include="loanCost.templateUrl" style="display: flex; flex-grow:4"></div>
            </div>
            <!--Borrower Paid-->
            <div class="col-s">
                <span class="alert-red tol-indicator" ng-if="loanCost.useLoanEstimateFee && !loanCost.editMode">TOL</span>
                <span class="cvalue" ng-if="!loanCost.editMode">{{(loanCost.borrowerPaid.atClosing==0 ? '' : loanCost.borrowerPaid.atClosing) | impCurrency:"" }} </span>
                <div class="imp-combined" ng-if="loanCost.editMode">
                    <input type="text" ng-model="loanCost.borrowerPaid.atClosing" imp-currency="" display-currency-sign="false" negative-values="true"
                           ng-if="loanCost.editMode" ng-change="costDetailsCtrl.borrowerPaidAmountChanged(true, loanCost)"
                           ng-disabled="costDetailsCtrl.savingDataInProgress || costDetailsCtrl.closingCostViewModel.disableFields || costDetailsCtrl.disableRightSection(loanCost) || loanCost.hudLineNumber == 1003">
                    <span ng-if="loanCost.editMode" class="imp-icon-combined" ng-click="costDetailsCtrl.showLoanEstimateFeePopup(loanCost, $event)"></span>
                </div>
            </div>
            <div class="col-s">
                <span class="cvalue" ng-if="!loanCost.editMode">{{(loanCost.borrowerPaid.beforeClosing==0 ? '' : loanCost.borrowerPaid.beforeClosing) | impCurrency:"" }}</span>
                <input type="text" ng-model="loanCost.borrowerPaid.beforeClosing" imp-currency="" display-currency-sign="false"
                       ng-if="loanCost.editMode" ng-change="costDetailsCtrl.borrowerPaidAmountChanged(true, loanCost)"
                       ng-disabled="costDetailsCtrl.savingDataInProgress || costDetailsCtrl.closingCostViewModel.disableFields || costDetailsCtrl.disableRightSection(loanCost) || loanCost.hudLineNumber == 1003">
            </div>
            <!--END Borrower Paid-->
            <!--Seller Paid-->
            <div class="col-s" ng-if="!costDetailsCtrl.isRefinance">
                <span class="cvalue" ng-if="!loanCost.editMode">{{(loanCost.sellerPaid.atClosing==0 ? '' : loanCost.sellerPaid.atClosing) | impCurrency:"" }}</span>
                <input type="text" ng-model="loanCost.sellerPaid.atClosing" imp-currency="" display-currency-sign="false"
                       ng-if="loanCost.editMode" ng-change="costDetailsCtrl.calculateLoanCostsTotals()"
                       ng-disabled="costDetailsCtrl.savingDataInProgress || costDetailsCtrl.closingCostViewModel.disableFields || costDetailsCtrl.disableRightSection(loanCost)"
                       ng-blur="costDetailsCtrl.onRightSectionAmountBlur(loanCost, loanCost.sellerPaid, costDetailsCtrl.enums.costPaidWhenTypes.atClosing)">
            </div>
            <div class="col-s" ng-if="!costDetailsCtrl.isRefinance">
                <span class="cvalue" ng-if="!loanCost.editMode">{{(loanCost.sellerPaid.beforeClosing==0 ? '' : loanCost.sellerPaid.beforeClosing) | impCurrency:"" }}</span>
                <input type="text" ng-model="loanCost.sellerPaid.beforeClosing" imp-currency="" display-currency-sign="false"
                       ng-if="loanCost.editMode" ng-change="costDetailsCtrl.calculateLoanCostsTotals()"
                       ng-disabled="costDetailsCtrl.savingDataInProgress || costDetailsCtrl.closingCostViewModel.disableFields || costDetailsCtrl.disableRightSection(loanCost)"
                       ng-blur="costDetailsCtrl.onRightSectionAmountBlur(loanCost, loanCost.sellerPaid, costDetailsCtrl.enums.costPaidWhenTypes.beforeClosing)">

            </div>
            <!--END Seller Paid-->
            <!--Other Paid-->
            <div class="col-s">
                <span class="cvalue" ng-if="!loanCost.editMode">{{(loanCost.otherPaid.atClosing==0 ? '' : loanCost.otherPaid.atClosing) | impCurrency:"" }}</span>
                <input type="text" ng-model="loanCost.otherPaid.atClosing" imp-currency="" display-currency-sign="false"
                       ng-if="loanCost.editMode" ng-show="loanCost.otherPaid.beforeClosing==0" ng-change="costDetailsCtrl.calculateLoanCostsTotals()"
                       ng-disabled="costDetailsCtrl.savingDataInProgress || costDetailsCtrl.closingCostViewModel.disableFields || costDetailsCtrl.disableRightSection(loanCost)"
                       ng-blur="costDetailsCtrl.onRightSectionAmountBlur(loanCost, loanCost.otherPaid, costDetailsCtrl.enums.costPaidWhenTypes.atClosing)">
                <span class="imp-disclaimer" style="margin-left:5px;" ng-if="!loanCost.editMode"
                      ng-hide="loanCost.otherPaid.atClosing == 0">{{loanCost.otherPaid.paidByDisplayValue }}</span>
                <div class="imp-span-ddl-container medium"
                     ng-class="{'disabled' : costDetailsCtrl.savingDataInProgress || costDetailsCtrl.closingCostViewModel.disableFields}"
                     ng-show="loanCost.otherPaid.beforeClosing!=0"
                     ng-if="loanCost.editMode">
                    <select name="paidByAtClosing-{{loanCost.sectionId}}-{{$index}}"
                            class="imp-ddl"
                            ng-model="loanCost.otherPaid.paidBy"
                            ng-disabled="costDetailsCtrl.savingDataInProgress || costDetailsCtrl.closingCostViewModel.disableFields"
                            ng-options="selectedItem.value as selectedItem.text for selectedItem in costDetailsCtrl.applicationData.lookup.paidBy">
                        <option value='' selected disabled style="color:#999;display:none">Paid By</option>
                    </select>
                </div>
            </div>
            <div class="col-s">
                <span class="cvalue" ng-if="!loanCost.editMode">{{(loanCost.otherPaid.beforeClosing==0 ? '' : loanCost.otherPaid.beforeClosing) | impCurrency:"" }}</span>
                <input type="text" ng-model="loanCost.otherPaid.beforeClosing" imp-currency="" display-currency-sign="false"
                       ng-if="loanCost.editMode" ng-show="loanCost.otherPaid.atClosing==0" ng-change="costDetailsCtrl.calculateLoanCostsTotals()"
                       ng-disabled="costDetailsCtrl.savingDataInProgress || costDetailsCtrl.closingCostViewModel.disableFields || costDetailsCtrl.disableRightSection(loanCost)"
                       ng-blur="costDetailsCtrl.onRightSectionAmountBlur(loanCost, loanCost.otherPaid, costDetailsCtrl.enums.costPaidWhenTypes.beforeClosing)">
                <span class="imp-disclaimer" style="margin-left:5px;" ng-if="!loanCost.editMode"
                      ng-hide="loanCost.otherPaid.beforeClosing == 0">{{loanCost.otherPaid.paidByDisplayValue }}</span>
                <div class="imp-span-ddl-container medium"
                     ng-class="{'disabled' : costDetailsCtrl.savingDataInProgress || costDetailsCtrl.closingCostViewModel.disableFields}"
                     ng-show="loanCost.otherPaid.atClosing!=0"
                     ng-if="loanCost.editMode">
                    <select name="paidByBeforeClosing-{{loanCost.sectionId}}-{{$index}}"
                            class="imp-ddl"
                            ng-model="loanCost.otherPaid.paidBy"
                            ng-change="costDetailsCtrl.calculateLoanCostsTotals()"
                            ng-disabled="costDetailsCtrl.savingDataInProgress || costDetailsCtrl.closingCostViewModel.disableFields"
                            ng-options="selectedItem.value as selectedItem.text for selectedItem in costDetailsCtrl.applicationData.lookup.paidBy">
                        <option value='' selected disabled style="color:#999;display:none">Paid By</option>
                    </select>
                </div>
            </div>
            <!--END Other Paid-->

            <div ng-show="(loanCost.hoverEdit || loanCost.editMode) && !costDetailsCtrl.isTaxOrInsuranceCost(loanCost) && costDetailsCtrl.closingCostsRW">
                <imp-circle size="xsmall" color="#F4BABC" hover-color="#e73302" is-plus="false" style=" margin-right: -30px; margin-top: 4px; position: absolute;"
                            ng-disabled="costDetailsCtrl.savingDataInProgress || costDetailsCtrl.closingCostViewModel.disableFields"
                            ng-click="costDetailsCtrl.deleteCost(loanCost)"></imp-circle>
            </div>

        </div>
    </div>
    <div ng-include src="'angular/costdetails/loantotal.html'">
    </div>
</div>
