<div class="footer">
    <div class="row">
        <div class="col-a">
            <span class="tlabel">{{'D. Total Loan Costs'}}</span> <span class="tvalue">{{costDetailsCtrl.closingCostViewModel.totals.loanCosts.total | impRound: 2 | currency}}</span>
        </div>
        <div class="col-xm">
            <span>Section Subtotals</span></div>
        <div class="col-s">
            <span class="cvalue ">{{costDetailsCtrl.closingCostViewModel.totals.loanCosts.borrowerPaidAtClosingTotal | impRound: 2 | currency}}</span></div>
        <div class="col-s">
            <span class="cvalue ">{{costDetailsCtrl.closingCostViewModel.totals.loanCosts.borrowerPaidBeforeClosingTotal | impRound: 2 | currency}}</span></div>
        <div class="col-s" ng-if="!costDetailsCtrl.isRefinance">
            <span class="cvalue ">{{costDetailsCtrl.closingCostViewModel.totals.loanCosts.sellerPaidAtClosingTotal | impRound: 2 | currency}}</span></div>
        <div class="col-s" ng-if="!costDetailsCtrl.isRefinance">
            <span class="cvalue ">{{costDetailsCtrl.closingCostViewModel.totals.loanCosts.sellerPaidBeforeClosingTotal | impRound: 2 | currency}}</span></div>
        <div class="col-s">
            <span class="cvalue ">{{costDetailsCtrl.closingCostViewModel.totals.loanCosts.otherPaidAtClosingTotal | impRound: 2 | currency}}</span></div>
        <div class="col-s">
            <span class="cvalue ">{{costDetailsCtrl.closingCostViewModel.totals.loanCosts.otherPaidBeforeClosingTotal | impRound: 2 | currency}}</span></div>
    </div>
    <div class="row">
        <div class="col-a">
        </div>
        <div class="col-xm">
            <span>Subtotals</span></div>
        <div class="col-m">
            <span class="tvalue">{{costDetailsCtrl.closingCostViewModel.totals.loanCosts.borrowerTotal | impRound: 2 | currency}}</span></div>
        <div class="col-m" ng-if="!costDetailsCtrl.isRefinance">
            <span class="tvalue">{{costDetailsCtrl.closingCostViewModel.totals.loanCosts.sellerTotal | impRound: 2 | currency}}</span></div>
        <div class="col-m">
            <span class="tvalue">{{costDetailsCtrl.closingCostViewModel.totals.loanCosts.otherTotal | impRound: 2 | currency}}</span></div>
    </div>
</div>
