<div id='divborrowerpopup' class='imp-div-popup-CompleteLoanApplication divPopupClose'>
    <div>You are required to first complete the Loan Application</div>
                
  <div class="imp-div-popup-CompleteLoanApplication-buttonContainer">
    <input type="button" onclick="CloseBorrowerInformationPopup()" value="Close" class="imp-button-hm-wm-prim" id="btnCloseBorrowerInforamtion" />
  </div>
</div>