<div class="imp-contextual-bar" ng-include src="'angular/contextualbar/contextualbar.html'"></div>
<div class="imp-contextual-bar-details" ng-include src="'angular/contextualbar/details/contextualbardetails.html'" ng-show="navigation=='LoanApplication'"></div>
<div class="imp-contextual-bar-cost-details" ng-include src="'angular/contextualbar/costdetails/contextualbarcostdetails.html'" ng-show="navigation=='CostDetails'"></div>
<div class="imp-contextual-bar-product-pricing" ng-include src="'angular/contextualbar/productandpricing/contextualbarproductandpricing.html'" ng-show="navigation=='ProductAndPricing'"></div>
<div class="imp-contextual-bar-product-pricing" ng-include src="'angular/contextualbar/queue/contextualbarqueue.html'" ng-show="navigation=='Queue'"></div>