@using MML.Common;

<div class="footer imp-region-other">
    <div class="imp-region">
        @("© " + DateTime.Now.Year + " Skyline Financial Corp.")
        @(AssemblyHelper.GetAssemblyVersion())
    </div>
</div>
