<!DOCTYPE html>
<html lang="en">

<!-- LEFT TEMPORARILY UNTIL STYLING IS MIGRATED-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- All css pulled from ConsumerFeatureStyle.css from SecureLink project.-->
    <link rel="stylesheet" href="../../../Content/ConsumerSite/MyNextStepFeatureStyle.css">
    
    <!-- Site based common style sheet.-->
    <!--<link rel="stylesheet" href="../../../Content/CommonStyle.css">-->

    
</head>
<body>
    <ng-form name="myNextStepForm" class="form-horizontal" novalidate>
        <div class="center-block">
            <banner />
            <div ui-view class="view-body"></div>
        </div>
    </ng-form>
</body>
</html>

