<div class="imp-buttonmenu imp-body" style="list-style-type: none;">
    <div class="imp-buttonmenu-item button-menu-row" ng-click="modalpopoverCtrl.done({ model:'1'})">
        <span>Closing Costs</span><span style="color :#9d9d9d;"> &nbsp;(Lender fees and  3rd Party)</span>
    </div>
    <div class="imp-buttonmenu-item  button-menu-row" ng-click="modalpopoverCtrl.done({ model:'2'})">
        <span>Closing Costs + Prepaids</span>
    </div>
    <div class="imp-buttonmenu-item  button-menu-row" ng-click="modalpopoverCtrl.done({ model:'3'})">
        <span>Closing Costs + Prepaids + Escrows</span>
    </div>
</div>
