<div class="preapprovalpreview-modal-content" style="height:820px; width:612px; margin-top: 60px; border-radius: 0px">
    <!--<div style="font-size: small; font-weight: bold">PreApproval Request</div>

    <div style="margin-top: 5px">
        <span>Letter Purchase Price</span>
        <input type="text" ng-model="assignmentsCtrl.loanNumber" style="width: 61px; font-weight: bold"/>
        <span>Letter Loan Amount </span>
        <input type="text" ng-model="assignmentsCtrl.loanNumber" style="width: 61px; font-weight: bold" />
        <span>Expiration Date</span>
        <input type="text" ng-model="assignmentsCtrl.loanNumber" style="width: 61px; font-weight: bold" />
    </div>
    <div style="font-size: smaller; color: green;font-weight: bold;">*Letter Sales Price or Loan Amount cannot exceed approved amounts</div>-->

    <div ng-switch="palCtrl.templateId">
        <div ng-switch-when="1">
            <div ng-include src="'angular/preapprovalletters/preapprovalletterstemplates/onlineborrowerproperty.html'"></div>
        </div>
        <div ng-switch-when="3">
            <div ng-include src="'angular/preapprovalletters/preapprovalletterstemplates/offlineborrowerproperty.html'"></div>
        </div>
    </div>
    <!--<hr />-->
    <div class="buttons" style="float: right; margin-right: 30px; margin-top: 5px">
        <input type="button" class="imp-button-hm-wm-sec" value="Cancel" ng-click="palCtrl.close()" />
        <input type="button" class="imp-button-hm-wm-prim" value="Send" ng-click="palCtrl.send()" />
    </div>
</div>
