
<div class="sub-col-l">
    <div ng-show="!loanCost.editMode" style="float:left">
        <span class="imp-disclaimer" ng-show="loanCost.provider != null && loanCost.provider != ''">to</span>
        <span>{{loanCost.provider}}</span>
    </div>
    <div ng-show="loanCost.editMode" style="float:left">
        <input type="text"
               ng-model="loanCost.provider"
               ng-disabled="costDetailsCtrl.savingDataInProgress || costDetailsCtrl.closingCostViewModel.disableFields"
               placeholder="Paid To">
    </div>
    <div class="imp-icon-lock" ng-if="loanCost.canBeLocked && (loanCost.isLocked && !loanCost.editMode || loanCost.editMode)" ng-class="{'un': !loanCost.isLocked}"
         ng-click="loanCost.isLocked = !loanCost.isLocked"></div>
</div>