@using MML.Contracts
@model MML.Web.LoanCenter.ViewModels.ContactsProfileViewModel
@Html.HiddenFor( x => x.cEscrowContact.EscrowContactId )


         <div class="separator">
            <span>@ViewBag.ContactTypeSpecificTitle</span>
        </div>  

        <div class="rowCompanyProfileContainer">

            <div class="cCompanyLeft">
                Contact License Number
            </div>

            <div class="cCompanyRight">
               @Html.TextBoxFor( x => x.cEscrowContact.ContactLicenseNumber )
               @Html.ValidationMessageFor( model => model.cEscrowContact.ContactLicenseNumber )
            </div>
        </div> 
