<div class="imp-address flex">
    <div class="street flex">
        <imp-input class="name" 
                   name="{{namePrefix}}StreetName" placeholder="{{ placeholderStreetName }}"
                   ng-class="{'border-right-none': isUnitVisible == true, 'imp-has-error': (validation.sixPicesCompleted && validation.validate && !model.streetName)}"
                   ng-model="model.streetName"
                   ng-change="onStreetNameChange()"
                   ng-disabled="isDisabled || firstRowDisabled"
                   ng-required="{{required}}"></imp-input>
        <imp-input class="unit"
                   placeholder="Unit #" ng-model="model.unitNumber"
                   ng-disabled="isDisabled || firstRowDisabled" ng-if="isUnitVisible==true"></imp-input>
    </div>
    <div class="imp-psection-row city flex">
        <imp-input class="name"
                   name="{{namePrefix}}CityName" placeholder="{{ placeholderCityName }}"
                   ng-model="model.cityName" ng-disabled="isDisabled" ng-required="{{required}}"
                   ng-class="{'imp-has-error': (validation.sixPicesCompleted && validation.validate && !model.cityName)}"></imp-input>
        <div class="imp-span-ddl-container medium state" ng-class="getStateContainerClass(formName)" ng-class="{'ng-dirty ng-invalid': (validation.sixPicesCompleted && validation.validate && !model.stateName)}">
            <select class="imp-ddl" name="{{namePrefix}}StateName"
                    ng-model="model.stateName"
                    ng-change="fetchCounty()"
                    ng-options="selectedItem.text as selectedItem.text for selectedItem in states"
                    ng-disabled="isDisabled"
                    ng-required="{{required}}"
                    ng-class="{'imp-has-error': (validation.sixPicesCompleted && validation.validate && !model.stateName)}">
                <option value='' selected disabled style="color:#999;display:none">State</option>
            </select>
        </div>
        <imp-input class="zip"
                   name="{{namePrefix}}ZipCode" imp-numeric imp-select-on-click placeholder="Zip" maxlength="5" ng-model="model.zipCode" ng-change="fetchZipData()"
                   ng-disabled="isDisabled && !zipEnabled"
                   ng-blur="validateZipOnBlur()"
                   ng-class="{'imp-has-error': (model.zipCode.length != 5 && (invalidZipCode || zipRequired)) || (validation.sixPicesCompleted && validation.validate && !model.zipCode) || !isLicencedZipCode, 'imp-asterisks-in-placeholder': zipAsterisksRequired}"></imp-input>
    </div>
    <div class="county">
        <div class="imp-span-ddl-container medium name"
             ng-class="{'disabled' : isDisabled, 'imp-has-error': (validation.sixPicesCompleted && validation.validate && !model.countyName)}"
             ng-show="isCountyVisible==='true'">
            <select class="imp-ddl" id="nbCounty"
                    ng-model="model.countyName"
                    ng-options="selectedItem.value as selectedItem.text for selectedItem in model.counties"
                    ng-disabled="isDisabled"
                    ng-class="{'imp-has-error': (validation.sixPicesCompleted && validation.validate && !model.countyName)}">
                <option value='' selected disabled style=" display:none">County</option>
            </select>
        </div>
    </div>
</div>