@font-face {
    font-family: 'consumer-site';
    src:    url('../fonts/consumer-site.eot?iqgg3l');
    src:    url('../fonts/consumer-site.eot?iqgg3l#iefix') format('embedded-opentype'),
        url('../fonts/consumer-site.ttf?iqgg3l') format('truetype'),
        url('../fonts/consumer-site.woff?iqgg3l') format('woff'),
        url('../fonts/consumer-site.svg?iqgg3l#consumer-site') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'consumer-site' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add-circle:before {
    content: "\e900";
}
.icon-cash-house:before {
    content: "\e901";
}
.icon-cash-house-o:before {
    content: "\e902";
}
.icon-court:before {
    content: "\e903";
}
.icon-doc .path1:before {
    content: "\e904";
    color: rgb(255, 255, 255);
}
.icon-doc .path2:before {
    content: "\e905";
    margin-left: -0.7822265625em;
    color: rgb(32, 141, 220);
}
.icon-docs:before {
    content: "\e906";
}
.icon-finish-flag:before {
    content: "\e907";
}
.icon-folder:before {
    content: "\e908";
}
.icon-gears:before {
    content: "\e909";
}
.icon-heart:before {
    content: "\e90a";
}
.icon-heart-o:before {
    content: "\e90b";
}
.icon-house:before {
    content: "\e90c";
}
.icon-info .path1:before {
    content: "\e90d";
    color: rgb(189, 190, 190);
}
.icon-info .path2:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-info-o:before {
    content: "\e90f";
}
.icon-keychain:before {
    content: "\e910";
}
.icon-lock:before {
    content: "\e911";
}
.icon-logo .path1:before {
    content: "\e912";
    color: rgb(0, 175, 65);
}
.icon-logo .path2:before {
    content: "\e913";
    margin-left: -4.095703125em;
    color: rgb(0, 85, 184);
}
.icon-logo .path3:before {
    content: "\e914";
    margin-left: -4.095703125em;
    color: rgb(0, 85, 184);
}
.icon-logo .path4:before {
    content: "\e915";
    margin-left: -4.095703125em;
    color: rgb(0, 85, 184);
}
.icon-logo .path5:before {
    content: "\e916";
    margin-left: -4.095703125em;
    color: rgb(0, 85, 184);
}
.icon-logo .path6:before {
    content: "\e917";
    margin-left: -4.095703125em;
    color: rgb(0, 85, 184);
}
.icon-logo .path7:before {
    content: "\e918";
    margin-left: -4.095703125em;
    color: rgb(0, 85, 184);
}
.icon-logo .path8:before {
    content: "\e919";
    margin-left: -4.095703125em;
    color: rgb(0, 175, 65);
}
.icon-logo .path9:before {
    content: "\e91a";
    margin-left: -4.095703125em;
    color: rgb(0, 175, 65);
}
.icon-logo .path10:before {
    content: "\e91b";
    margin-left: -4.095703125em;
    color: rgb(0, 175, 65);
}
.icon-logo .path11:before {
    content: "\e91c";
    margin-left: -4.095703125em;
    color: rgb(0, 175, 65);
}
.icon-logo .path12:before {
    content: "\e91d";
    margin-left: -4.095703125em;
    color: rgb(0, 175, 65);
}
.icon-logo-sm .path1:before {
    content: "\e91e";
    color: rgb(0, 175, 65);
}
.icon-logo-sm .path2:before {
    content: "\e91f";
    margin-left: -1.3818359375em;
    color: rgb(0, 85, 184);
}
.icon-low-rate-fixed:before {
    content: "\e920";
}
.icon-low-rate-percent:before {
    content: "\e921";
}
.icon-map:before {
    content: "\e922";
}
.icon-mountains:before {
    content: "\e923";
}
.icon-my-next-step-text:before {
    content: "\e924";
}
.icon-no-cost:before {
    content: "\e925";
}
.icon-no-cost-text:before {
    content: "\e926";
}
.icon-payoff-quickly:before {
    content: "\e927";
}
.icon-pen-tip:before {
    content: "\e928";
}
.icon-person:before {
    content: "\e929";
}
.icon-piggy-bank:before {
    content: "\e92a";
}
.icon-report:before {
    content: "\e92b";
}
.icon-rocketship:before {
    content: "\e92c";
}
.icon-sign-docs:before {
    content: "\e92d";
}
.icon-speedometer .path1:before {
    content: "\e92e";
    color: rgb(31, 178, 90);
}
.icon-speedometer .path2:before {
    content: "\e92f";
    margin-left: -1.51953125em;
    color: rgb(31, 178, 90);
}
.icon-speedometer .path3:before {
    content: "\e930";
    margin-left: -1.51953125em;
    color: rgb(31, 178, 90);
}
.icon-speedometer .path4:before {
    content: "\e931";
    margin-left: -1.51953125em;
    color: rgb(31, 178, 90);
}
.icon-speedometer .path5:before {
    content: "\e932";
    margin-left: -1.51953125em;
    color: rgb(31, 178, 90);
}
.icon-speedometer .path6:before {
    content: "\e933";
    margin-left: -1.51953125em;
    color: rgb(31, 178, 90);
}
.icon-speedometer .path7:before {
    content: "\e934";
    margin-left: -1.51953125em;
    color: rgb(31, 178, 90);
}
.icon-speedometer .path8:before {
    content: "\e935";
    margin-left: -1.51953125em;
    color: rgb(61, 61, 61);
}
.icon-stairs:before {
    content: "\e936";
}
.icon-star:before {
    content: "\e937";
}
.icon-touchscreen:before {
    content: "\e938";
}
.icon-upload:before {
    content: "\e939";
}
.icon-close:before {
    content: "\f00d";
}
.icon-remove:before {
    content: "\f00d";
}
.icon-times:before {
    content: "\f00d";
}
.icon-caret-down:before {
    content: "\f0d7";
}
.icon-caret-right:before {
    content: "\f0da";
}
.icon-angle-left:before {
    content: "\f104";
}

