<div class="closingTransactionCostsTableContainers">
<div class="closingTransactionCostsTitle" >J. Summary of Borrower’s Transaction </div>   
    <table class="closingTransactionCostsTable closingTransactionCostsTable2 closingTransactionCostsTableBorderRight">
    <tr>
        <td colspan="2">
        <b>100. Gross Amount Due from Borrower</b>
        </td>
    </tr>
    <tr>
        <td>
        101. Contract sales price
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
        102. Personal property
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
        103. Settlement charges to borrower (line 1400)
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
        104.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
        105.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>   
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
        <b>Adjustment for items paid by seller in advance</b>
        </td>
        <td>
      
        </td>
    </tr>
    <tr>
        <td>
        <text class="closingTransactionCostsCountyTaxesContainer">106. City/town taxes</text> <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/> to <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
         </td>
    </tr>
    <tr>
        <td>
        <text class="closingTransactionCostsCountyTaxesContainer">107. County taxes</text>  <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/> to <input  type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
        <text class="closingTransactionCostsCountyTaxesContainer">108. Assessments</text> <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/> to <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
        109.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
        110.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        111.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        112.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr class="closingTransactionCostsTableRowDoubleBorder">
        <td>
       <b>120. Gross Amount Due from Borrower</b>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr >
        <td colspan="2">
        <b>200. Amounts Paid by or in Behalf of Borrower</b>
        </td>
    </tr>
    <tr>
        <td>
        201. Deposit or earnest money
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        202. Principal amount of new loan(s)
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        203. Existing loan(s) taken subject to
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        204.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        205.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        206.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        207.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        208.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr class="closingTransactionCostsTableRowDoubleBorder">
        <td>
        209.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td colspan="2">
       <b>Adjustments for items unpaid by seller</b>
        </td>
    </tr>
    <tr>
        <td>
       <text class="closingTransactionCostsCountyTaxesContainer">210. City/town taxes </text><input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/> to <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       <text class="closingTransactionCostsCountyTaxesContainer">211. County taxes</text> <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/> to <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
      <text class="closingTransactionCostsCountyTaxesContainer"> 212. Assessments </text><input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/> to <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       213.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       214.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       215.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       216.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       217.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       218.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       219.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr class="closingTransactionCostsTableRowDoubleBorder">
        <td>
      <b> 220. Total Paid by/for Borrower</b>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td colspan="2">
      <b> 300. Cash at Settlement from/to Borrower</b>
        </td>
    </tr>
    <tr>
        <td>
         301. Gross amount due from borrower (line 120)
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
         302. Less amounts paid by/for borrower (line 220)
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        303. Cash From <input type="checkbox" name="cashfrom" value="cashfrom"> To <input type="checkbox" name="cashto" value="cashto"> Borrower
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    
    </table>
 </div>


 <div class="closingTransactionCostsTableContainers" style="margin-left:22px;">
    <div class="closingTransactionCostsTitle" style="margin-left:1px;">K. Summary of Seller’s Transaction </div>
    
    
    <table style="margin-left:1px;" class="closingTransactionCostsTable closingTransactionCostsTable2 closingTransactionCostsTableBorderLeft">
    <tr>
        <td colspan="2">
        <b>400. Gross Amount Due to Seller</b>
        </td>
    </tr>
    <tr>
        <td>
        401. Contract sales price
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
        402. Personal property
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
        403.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
        404.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
        405.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>   
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
        <b>Adjustments for items paid by seller in advance</b>
        </td>
        <td>
       
        </td>
    </tr>
    <tr>
        <td>
        <text class="closingTransactionCostsCountyTaxesContainer">406. City/town taxes </text><input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/> to <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/>
        </td>
        <td> 
         <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
        <text class="closingTransactionCostsCountyTaxesContainer">407. County taxes </text><input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/> to <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
       <text class="closingTransactionCostsCountyTaxesContainer"> 408. Assessments</text> <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/> to <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
        409.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
        </td>
    </tr>
    <tr>
        <td>
        410.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        411.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        412.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr class="closingTransactionCostsTableRowDoubleBorder">
        <td>
       <b>420. Gross Amount Due to Sellerr</b>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr >
        <td colspan="2">
       <b> 500. Reductions In Amount Due to Seller</b>
        </td>
    </tr>
    <tr>
        <td>
         501. Excess deposit (see instructions)
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        502. Settlement charges to seller (line 1400)
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        503. Existing loan(s) taken subject to
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        504. Payoff of first mortgage loan
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        505. Payoff of second mortgage loan
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        506.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        507.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        508.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr class="closingTransactionCostsTableRowDoubleBorder">
        <td>
        509.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td colspan="2">
       <b>Adjustments for items unpaid by seller</b>
        </td>
    </tr>
    <tr>
        <td>
       <text class="closingTransactionCostsCountyTaxesContainer"> 510. City/town taxes</text> <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/> to <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       <text class="closingTransactionCostsCountyTaxesContainer"> 511. County taxes </text> <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/> to <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       <text class="closingTransactionCostsCountyTaxesContainer"> 512. Assessments </text> <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/> to <input type="text" class="closingTransactionCostsTextBoxAmountLeftSmall"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       513.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       514.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       515.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       516.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       517.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       518.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
       519.<input type="text" class="closingTransactionCostsTextBoxAmountLeftLarge"/>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr class="closingTransactionCostsTableRowDoubleBorder">
        <td>
      <b> 520. Total Reduction Amount Due Seller</b>
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td colspan="2">
      <b> 600. Cash at Settlement to/from Seller</b>
        </td>
    </tr>
    <tr>
        <td>
        601. Gross amount due to seller (line 420)
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        602. Less reductions in amount due seller (line 520)
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    <tr>
        <td>
        603. Cash From <input type="checkbox" name="cashfrom" value="cashfrom"> To <input type="checkbox" name="cashto" value="cashto"> Seller
        </td>
        <td>
        <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesAmount"/>
       </td>
    </tr>
    
    </table>
 </div>