 <div class="closingCostTransactionTypeOfLoanContainer "style="padding-top:25px;"> 

 <table class="manageFeesPageThreeTable">
    <tr>
            <td class="manageFeesPageThreeTableImportantContent">
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText"> Comparison of Good Faith Estimate (GFE) and HUD-1 Charges</span>
            </td>
            <td>
            </td>
            <td class="manageFeesPageThreeTableImportantContent manageFeesPageThreeTableRightCollumnsContent manageFeesPageThreeCollumnOneSubcollumnOneText">
                Good Faith Estimate
            </td>
            <td class="manageFeesPageThreeTableImportantContent manageFeesPageThreeTableRightCollumnsContent">
                HUD-1 Line Number
            </td>
    </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne manageFeesPageThreeTableImportantContent">
                    <span class="manageFeesPageThreeCollumnOneSubcollumnOneText"> Charges That Cannot Increase </span>
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo manageFeesPageThreeTableImportantContent">
                    HUD-1 Line Number
                </span>
            </td>
            <td>
            </td>
            <td>
           
            </td>
            <td>
        
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne manageFeesPageThreeCollumnOneSubcollumnOneText">
                    Our origination charge
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                    # 801
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne manageFeesPageThreeCollumnOneSubcollumnOneText">
                    Your credit or charge (points) for the specific interest rate chosen
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                    # 802
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne manageFeesPageThreeCollumnOneSubcollumnOneText">
                    Your adjusted origination charges
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                    # 803
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
               <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne manageFeesPageThreeCollumnOneSubcollumnOneText">
                    Transfer taxes
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                    # 1203
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr class="manageFeesPageThreeSpacingRow"></tr> <!-- TABLE 1 END SECTION 1-->


     <tr>
            <td class="manageFeesPageThreeTableImportantContent">
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">That in Total Cannot Increase More Than 10%</span> 
            </td>
            <td>
            </td>
            <td class="manageFeesPageThreeTableImportantContent manageFeesPageThreeTableRightCollumnsContent">
                Good Faith Estimate
            </td>
            <td class="manageFeesPageThreeTableImportantContent manageFeesPageThreeTableRightCollumnsContent">
                HUD-1 Line Number
            </td>
    </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne manageFeesPageThreeCollumnOneSubcollumnOneText">
                    Government recording charges
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                   # 1201
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne">
                    <input type="text" class="manageFeesPageThreeTextBoxLeftLarge"/>
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                    # <input type="text" class="manageFeesPageThreeTextBoxLeftSmall"/>
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne">
                    <input type="text" class="manageFeesPageThreeTextBoxLeftLarge"/>
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                    # <input type="text" class="manageFeesPageThreeTextBoxLeftSmall"/>
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne">
                    <input type="text" class="manageFeesPageThreeTextBoxLeftLarge"/>
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                    # <input type="text" class="manageFeesPageThreeTextBoxLeftSmall"/>
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne">
                    <input type="text" class="manageFeesPageThreeTextBoxLeftLarge"/>
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                    # <input type="text" class="manageFeesPageThreeTextBoxLeftSmall"/>
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne">
                    <input type="text" class="manageFeesPageThreeTextBoxLeftLarge"/>
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                    # <input type="text" class="manageFeesPageThreeTextBoxLeftSmall"/>
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
               <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne">
                    <input type="text" class="manageFeesPageThreeTextBoxLeftLarge"/>
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                    # <input type="text" class="manageFeesPageThreeTextBoxLeftSmall"/>
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne">
                    <input type="text" class="manageFeesPageThreeTextBoxLeftLarge"/>
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                    # <input type="text" class="manageFeesPageThreeTextBoxLeftSmall"/>
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeTableImportantContent manageFeesPageThreeTableImportantRightAlignedContent">
                    Total 
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>   
                <span class="manageFeesPageThreeTableImportantContent manageFeesPageThreeTableImportantRightAlignedContent"> 
                   Increase between GFE and HUD-1 Charges
                </span>                                       
            </td>
            <td>
            </td>
            <td colspan="2">
                <input type="text" class="manageFeesPageThreeTextBoxRightSmall manageFeesPageThreePercentTextBox manageFeesPercent"/> <span class="manageFeesPageThreeTableImportantContent" style="margin:0px 8px;">or</span>  <input type="text" class="manageFeesPageThreeTextBoxRightSmall manageFeesPageThreeDollarAmountTextBox"/>
            </td>
     </tr>

     <tr class="manageFeesPageThreeSpacingRow"></tr> <!-- TABLE 1 END SECTION 2 -->

     <tr>
            <td class="manageFeesPageThreeTableImportantContent">
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">Charges That Can Change</span> 
            </td>
            <td>
            </td>
            <td class="manageFeesPageThreeTableImportantContent manageFeesPageThreeTableRightCollumnsContent">
                Good Faith Estimate
            </td>
            <td class="manageFeesPageThreeTableImportantContent manageFeesPageThreeTableRightCollumnsContent">
                HUD-1 Line Number
            </td>
    </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne manageFeesPageThreeCollumnOneSubcollumnOneText">
                    Initial deposit for your escrow account
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                   # 1001
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne manageFeesPageThreeCollumnOneSubcollumnOneText">
                    <span>
                        Daily interest charges
                   </span> 
                   <span>
                        <input type="text" class="manageFeesPageThreeTextBoxLeft manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>/day
                   </span>
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                   # 901
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne manageFeesPageThreeCollumnOneSubcollumnOneText">
                    Homeowner’s insurance
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                   # 903
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne">
                    <input type="text" class="manageFeesPageThreeTextBoxLeftLarge"/>
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                    # <input type="text" class="manageFeesPageThreeTextBoxLeftSmall"/>
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne">
                    <input type="text" class="manageFeesPageThreeTextBoxLeftLarge"/>
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                    # <input type="text" class="manageFeesPageThreeTextBoxLeftSmall"/>
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOne">
                    <input type="text" class="manageFeesPageThreeTextBoxLeftLarge"/>
                </span>
                <span class="manageFeesPageThreeCollumnOneSubcollumnTwo">
                    # <input type="text" class="manageFeesPageThreeTextBoxLeftSmall"/>
                </span>
            </td>
            <td>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
            <td>
                <input type="text" class="manageFeesPageThreeTextBoxRight manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
            </td>
     </tr>
 
 </table> <!-- END TABLE 1 END SECTION 3 -->


 <div class="manageFeesPageThreeLoanTermsTitle">Loan Terms</div>
 <table class="manageFeesPageThreeLoanTermsTable">
      <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">
                Your initial loan amount is
                </span>
            </td>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">
                    <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesPageThreeDollarAmountTextBox manageFeesAmount"/>
                </span>            
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">
                Your loan term is
                </span>
            </td>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">
                    <input type="text" class="manageFeesPageThreeLoanTermsTextBox"/> years
                </span>  
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">
                Your initial interest rate is
                </span>
            </td>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">
                        <input type="text" class="manageFeesPageThreePercentTextBox manageFeesPageThreeLoanTermsPercentTextBox manageFeesPercent"/> 
                </span>           
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">
                Your initial monthly amount owed for principal, interest, and any
                mortgage insurance is
                </span>
            </td>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">
                    <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesPageThreeDollarAmountTextBox manageFeesPageThreeLoanTermsTableTextBoxAmount manageFeesAmount"/> includes <br />
                    <input type="checkbox" name="chkPrincipal" value="Principal">Principal <br />
                    <input type="checkbox" name="chkInterest" value="Interest">Interest <br />
                    <input type="checkbox" name="chkMortgageInsurance" value="Mortgage Insurance">Mortgage Insurance <br />
                </span>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">
                Can your interest rate rise?
                </span>
            </td>
            <td> 
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">          
                    <input type="checkbox" name="chkInterestRateRiseNo" value="chkInterestRateRiseNo"> No  
                    <input type="checkbox" name="chkInterestRateRiseYes" value="chkInterestRateRiseYes"> Yes, 
                    it can rise to a maximum of <input type="text" class="manageFeesPageThreePercentTextBox manageFeesPageThreeLoanTermsPercentTextBox manageFeesPercent"/>.
                    The first change will be on <input type="text" class="manageFeesPageThreeLoanTermsTextBox"/> 

                    <span class="manageFeesPageThreeInterestRateRiseContent">
                    and can change again every <input type="text" class="manageFeesPageThreeLoanTermsTextBox"/> after <input type="text" class="manageFeesPageThreeLoanTermsTextBox"/>.
                    Every change date, your interest rate 
                    </span>
                    <span class="manageFeesPageThreeInterestRateRiseContent">
                    can increase or decrease by <input type="text" class="manageFeesPageThreePercentTextBox manageFeesPageThreeLoanTermsPercentTextBox manageFeesPercent"/>.
                    Over the life of the loan, your interest rate is guaranteed to  
                    </span>
                    <span class="manageFeesPageThreeInterestRateRiseContent">
                    never be lower than <input type="text" class="manageFeesPageThreePercentTextBox manageFeesPageThreeLoanTermsPercentTextBox manageFeesPercent"/> or higher than <input type="text" class="manageFeesPageThreePercentTextBox manageFeesPageThreeLoanTermsPercentTextBox"/>.
                    </span>
               </span>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">
                Even if you make payments on time, can your loan balance rise?
                </span>
            </td>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">  
                    <input type="checkbox" name="chkLoanBalanceRiseNo" value="chkLoanBalanceRiseNo"> No  
                    <input type="checkbox" name="chkLoanBalanceRiseYes" value="chkLoanBalanceRiseYes"> Yes, it can rise to a maximum of <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesPageThreeDollarAmountTextBox manageFeesPageThreeLoanTermsTableTextBoxAmount manageFeesAmount"/>
                </span>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">
                Even if you make payments on time, can your monthly amount owed
                for principal, interest, and mortgage insurance rise?
                </span>
            </td>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">  
                    <input type="checkbox" name="chkPrincipalInterestMIRiseNo" value="chkPrincipalInterestMIRiseNo"> No  
                    <input type="checkbox" name="chkPrincipalInterestMIRiseYes" value="chkPrincipalInterestMIRiseYes"> Yes, the first increase can be on <input type="text" class="manageFeesPageThreeLoanTermsTextBox"/> 
                    and the monthly amount owed can rise to <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesPageThreeDollarAmountTextBox manageFeesPageThreeLoanTermsTableTextBoxAmount manageFeesAmount"/>. 
                    The maximum it can ever rise to is <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesPageThreeDollarAmountTextBox manageFeesPageThreeLoanTermsTableTextBoxAmount manageFeesAmount"/>.
                </span>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">
               Does your loan have a prepayment penalty?
                </span>
            </td>
            <td>           
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">  
                    <input type="checkbox" name="chkPrepaymentPenaltyNo" value="chkPrepaymentPenaltyNo"> No  
                    <input type="checkbox" name="chkPrepaymentPenaltyYes" value="chkPrepaymentPenaltyYes"> Yes, your maximum prepayment penalty is <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesPageThreeDollarAmountTextBox manageFeesPageThreeLoanTermsTableTextBoxAmount manageFeesAmount"/>
                </span>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">
                Does your loan have a balloon payment?
                </span>
            </td>
            <td>                      
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">  
                    <input type="checkbox" name="chkBalloonPaymentNo" value="chkBalloonPaymentNo"> No  
                    <input type="checkbox" name="chkBalloonPaymentYes" value="chkBalloonPaymentYes"> Yes, you have a balloon prepayment of <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesPageThreeDollarAmountTextBox manageFeesPageThreeLoanTermsTableTextBoxAmount manageFeesAmount"/> 
                    due in <input type="text" class="manageFeesPageThreeLoanTermsTextBox"/> 
                    <span class="manageFeesPageThreeInterestRateRiseContent">
                    years on <input type="text" class="manageFeesPageThreeLoanTermsTextBox"/>.
                    </span>
                </span>
            </td>
     </tr>
     <tr>
            <td>
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">
                Total monthly amount owed including escrow account payments
                <textarea class="manageFeesPageThreeMonthlyAmountOwedTextarea" ></textarea>
                </span>
            </td>
            <td>                                 
                <span class="manageFeesPageThreeCollumnOneSubcollumnOneText">  
                    <span class="manageFeesPageThreeLoanTermsTableCheckbox"><input type="checkbox" name="chkPayItemsDirectly" value="chkPayItemsDirectly"></span> 
                    <span class="manageFeesPageThreeLoanTermsTableRightSubcollumn">You do not have a monthly escrow payment for items, such as property taxes and homeowner’s insurance. You must pay these items directly yourself.  <br /></span>
                    <span class="manageFeesPageThreeLoanTermsTableCheckbox"><input type="checkbox" name="chkIncludesPrincipalInterestMI" value="chkIncludesPrincipalInterestMI"></span>  
                    <span class="manageFeesPageThreeLoanTermsTableRightSubcollumn"> 
                        You have an additional monthly escrow payment of <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesPageThreeDollarAmountTextBox manageFeesPageThreeLoanTermsTableTextBoxAmount manageFeesAmount"/> <br />
                        that results in a total initial monthly amount owed of <input type="text" class="closingTransactionCostsTextBoxAmount manageFeesPageThreeDollarAmountTextBox manageFeesPageThreeLoanTermsTableTextBoxAmount manageFeesAmount"/>. 
                        This includes principal, interest, any mortgage insurance and any items checked below:<br />
                    </span>
                    <span style="width:100%;float:left;">
                        <span class="manageFeesPageThreeMonthlyAmountOwed">
                            <input type="checkbox" name="chkPropertyTaxes" value="chkPropertyTaxes"> <span class="manageFeesPageThreeMonthlyAmountOwedText"> Property taxes </span>
                        </span>
                        <span class="manageFeesPageThreeMonthlyAmountOwed">
                            <input type="checkbox" name="chkHomeownersInsurance" value="chkHomeownersInsurance"> <span class="manageFeesPageThreeMonthlyAmountOwedText"> Homeowner’s insurance </span>
                        </span><br />
                        <span class="manageFeesPageThreeMonthlyAmountOwed">
                            <input type="checkbox" name="chkFloodInsurance" value="chkFloodInsurance"> <span class="manageFeesPageThreeMonthlyAmountOwedText"> Flood insurance </span>
                        </span>
                        <span class="manageFeesPageThreeMonthlyAmountOwed">
                            <input type="checkbox" name="chkPrepaymentPenaltyNo" value="chkPrepaymentPenaltyNo"> <span class="manageFeesPageThreeMonthlyAmountOwedText"><input type="text" class="manageFeesPageThreeLoanTermsTextBox"/></span>
                        </span><br />
                        <span class="manageFeesPageThreeMonthlyAmountOwed">
                            <input type="checkbox" name="chkPrepaymentPenaltyNo" value="chkPrepaymentPenaltyNo"> <span class="manageFeesPageThreeMonthlyAmountOwedText"><input type="text" class="manageFeesPageThreeLoanTermsTextBox"/></span>
                        </span>
                        <span class="manageFeesPageThreeMonthlyAmountOwed">
                            <input type="checkbox" name="chkPrepaymentPenaltyNo" value="chkPrepaymentPenaltyNo"> <span class="manageFeesPageThreeMonthlyAmountOwedText"><input type="text" class="manageFeesPageThreeLoanTermsTextBox"/></span>
                        </span>
                    </span>
                </span>
            </td>
     </tr>
 </table>
 </div>