<form id="searchFormAdvanced" class="form-horizontal product-search-form-full" style="border: 2px black dotted;">
    <fieldset>
	<!--Column One-->
        <div class="col-xs-4">
            <div class="form-group">
                <label class="col-md-12 control-label" for="selectbasic">Loan&nbsp;Purpose</label>
                <div class="col-md-12">
                    <select id="selectbasic" name="selectbasic" class="form-control loan-purpose-select" ng-model="advSearchCntrl.loanPurposeType"
                            ng-options="lp.val|number as lp.text for lp in advSearchCntrl.loanPurpose"
                            ></select>
                </div>
            </div>
            <!--Refi Properties-->
            <div class="form-group" ng-show="advSearchCntrl.isRefi">
                <label class="col-md-12 control-label">Zip&nbsp;Code</label>
                <div class="col-md-12">
                    <input type="text" ng-model="advSearchCntrl.loan.getLoan().getSubjectProperty().zipCode" class="form-control input-md" >
                </div>
            </div>
            <div class="form-group" ng-show="advSearchCntrl.isRefi">
                <label class="col-md-12 control-label">Existing&nbsp;1st&nbsp;Mortgage</label>
                <div class="col-md-12">
                    <input type="text" class="form-control input-md"
                           ng-model="advSearchCntrl.loan.firstMortgage"
                           format-currency >
                </div>
            </div>
            <div class="form-group" ng-show="advSearchCntrl.isRefi">
                <label class="col-md-12 control-label">Cash&nbsp;Out</label>
                <div class="col-md-12">
                    <input type="text" class="form-control input-md"
                           ng-model="advSearchCntrl.loan.cashOutAmount"
                           format-currency >
                </div>
            </div>
            <div class="form-group" ng-show="advSearchCntrl.isRefi">
                <label class="col-md-12 control-label" for="textinput">Estimated Property&nbsp;Value</label>
                <div class="col-md-12">
                    <input type="text" class="form-control input-md"
                           ng-model="advSearchCntrl.loan.getLoan().getSubjectProperty().currentEstimatedValue"
                           format-currency >
                </div>
            </div>

            <div class="form-group" ng-show="advSearchCntrl.isRefi">
                <label class="col-md-12 control-label" for="selectbasic">Credit&nbsp;Score</label>
                <div class="col-md-12">
                    <select  id="selectbasic" name="selectbasic" class="form-control loan-purpose-select" ng-model="advSearchCntrl.loan.getLoan().otherInterviewData.selectedDecisionScoreRange"
                            ng-options="ficoScore.value as ficoScore.text for ficoScore in advSearchCntrl.applicationData.lookup.ficoScore"></select>
                </div>
            </div>

            <div class="form-group" ng-show="advSearchCntrl.isRefi">
                <label class="col-md-12 control-label" for="lblLoanAmount">Desired&nbsp;Loan&nbsp;Amount</label>
                <div class="col-md-12">
                    <!--@todo: get proper CSS class-->
                    <output id="lblLoanAmount" style="font-weight: 700; font-size: 17px">{{advSearchCntrl.loan.loanAmount | currency}}</output>
                </div>
            </div>

            <!--Purchase Properties-->
            <div class="form-group" ng-show="advSearchCntrl.isPurch">
                <label class="col-md-12 control-label" for="textinput">Purchase&nbsp;Price</label>
                <div class="col-md-12">
                    <input type="text" class="form-control input-md"
                           ng-model="advSearchCntrl.loan.getLoan().getSubjectProperty().purchasePrice"
                           format-currency >
                </div>
            </div>
            <div class="form-group" ng-show="advSearchCntrl.isPurch">
                <label class="col-md-12 control-label" for="textinput">Down&nbsp;Payment</label>
                <div class="col-md-12">
                    <input type="text" class="form-control input-md"
                           ng-model="advSearchCntrl.loan.getLoan().getSubjectProperty().purchasePrice"
                           format-currency >
                </div>
            </div>
            <div class="form-group" ng-show="advSearchCntrl.isPurch">
                <label class="col-md-12 control-label">Zip&nbsp;Code</label>
                <div class="col-md-12">
                    <input type="text" ng-model="advSearchCntrl.loan.getLoan().getSubjectProperty().zipCode" class="form-control input-md" >
                </div>
            </div>
            <div class="form-group" ng-show="advSearchCntrl.isPurch">
                <label class="col-md-12 control-label" for="selectbasic">Credit&nbsp;Score</label>
                <div class="col-md-12">
                    <select  id="selectbasic" name="selectbasic" class="form-control loan-purpose-select" ng-model="advSearchCntrl.loan.getLoan().otherInterviewData.selectedDecisionScoreRange"
                            ng-options="ficoScore.value as ficoScore.text for ficoScore in advSearchCntrl.applicationData.lookup.ficoScore"
                            ></select>
                </div>
            </div>

            <div class="form-group" ng-show="advSearchCntrl.isPurch">
                <label class="col-md-12 control-label" for="lblLoanAmount">Desired&nbsp;Loan&nbsp;Amount</label>
                <div class="col-md-12">
                    <!--@todo: get proper CSS class-->
                    <output id="lblLoanAmount" style="font-weight: 700; font-size: 17px">{{advSearchCntrl.loan.loanAmount | currency}}</output>
                </div>
            </div>
        <!--
            <div><button class="btn-link" ng-click="advSearchCntrl.checkAdvanced()">Hide&nbsp;Advanced&nbsp;Options</button></div>
            -->
            <div class="form-group">
                <div class="col-md-4">
                    <button class="btn btn-primary btn-get-my-rates" ng-click="advSearchCntrl.getRates()">Get My Rates</button>
                </div>
            </div>
        </div>
        <!--Column One-->


		<!--Column Two-->
		 <div class="col-xs-4">
            <!--Column2-->
            <div class="form-group">
                <label class="col-md-12 control-label" for="selectPropertyType">Property&nbsp;Type</label>
                <div class="col-md-12">
                    <select id="selectPropertyType" class="form-control loan-purpose-select" ng-model="advSearchCntrl.propertyType"
                            ng-options="propertyType.value as propertyType.text for propertyType in advSearchCntrl.applicationData.lookup.subjectPropertyTypes">
                        <!--<option value="" disabled selected>Select One</option>-->
                    </select>
                </div>
            </div>

             
            <div class="form-group">
                <label class="col-md-12 control-label" for="txtNumberOfUnits">Number&nbsp;of&nbsp;Units</label>
                <div class="col-md-12">
                    <select id="numberOfUnits" class="form-control loan-purpose-select" ng-model="advSearchCntrl.numberOfUnits | number"
                            ng-options="unitNumber.value|number as unitNumber.text for unitNumber in advSearchCntrl.applicationData.lookup.numberOfUnits">
                    </select>
                </div>
            </div>
        
            <div class="form-group">                
                <label class="col-md-12 control-label" for="selectHomeUse">How&nbsp;is&nbsp;the&nbsp;Home&nbsp;Used?</label>
                <div class="col-md-12">
                    <select id="selectHomeUse" class="form-control loan-purpose-select" ng-model="advSearchCntrl.occupancyType"
                            ng-options="homeUseType.value as homeUseType.text for homeUseType in advSearchCntrl.applicationData.lookup.typeOfProperty">
                        <!--<option value="" disabled selected>Select One</option>-->
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 control-label" for="selectTaxType">Taxes&nbsp;&amp;&nbsp;Insurance</label>
                <div class="col-md-12">
                    <select id="selectTaxType" class="form-control loan-purpose-select" ng-model="advSearchCntrl.taxType"
                            ng-options="taxType.value as taxType.text for taxType in advSearchCntrl.typeImpounds">
                        <!--<option value="" disabled selected>Select One</option>-->
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 control-label" for="selectEmploymentStatus">Employment&nbsp;Status</label>
                <div class="col-md-12">
                    <select id="selectEmploymentStatus" class="form-control loan-purpose-select" ng-model="advSearchCntrl.employmentStatusType"
                            ng-options="employmentType.value as employmentType.text for employmentType in advSearchCntrl.applicationData.lookup.employmentTypes">
                        <!--<option value="" disabled selected>Select One</option>-->
                    </select>
                </div>
            </div>

        </div>
        <!--Column Two-->


		<!--Column Three-->
        <div class="col-xs-4">

            <div class="form-group" ng-show="advSearchCntrl.isRefi">
                <label class="col-md-12 control-label" for="selectSecondMortgageType">Have&nbsp;a&nbsp;2nd&nbsp;Mortgage?</label>
                <div class="col-md-12">
                    <select id="secondMortgageInsuranceType" class="form-control loan-purpose-select" ng-model="advSearchCntrl.secondMortgageType"
                            ng-options="secondMortgageType.value as secondMortgageType.text for secondMortgageType in advSearchCntrl.applicationData.lookup.secondMortgageInsuranceTypes">
                        <!--<option value="" disabled selected>Select One</option>-->
                    </select>
                </div>
            </div>

            <div class="form-group" ng-show="advSearchCntrl.has2nd">
                <label class="col-md-12 control-label" for="selectPayoffSecondMortgageType">Payoff&nbsp;a&nbsp;2nd&nbsp;Mortgage?</label>
                <div class="col-md-12">
                    <select id="selectPayoffSecondMortgageType" class="form-control loan-purpose-select" ng-model="advSearchCntrl.payoffSecondMortgageType"
                            ng-options="payoffSecondMortgageType.value as payoffSecondMortgageType.text for payoffSecondMortgageType in advSearchCntrl.applicationData.lookup.secondMortgageInsurancePayOffTypes">
                        <!--<option value="" disabled selected>Select One</option>-->
                    </select>
                </div>
            </div>

            <div class="form-group" ng-show="advSearchCntrl.is2ndFixed">
                <label class="col-md-12 control-label" for="txtHELOCBalance">2nd&nbsp;Mortgage&nbsp;Balance</label>
                <div class="col-md-12">
                    <!--property 'helocBalance' maps to same for 2nd and HELOC , should be renamed ...-->
                    <input type="text" class="form-control input-md" id="txt2ndBalance"
                           ng-model="advSearchCntrl.helocBalance"
                           format-currency>
                </div>
            </div>

            <div class="form-group" ng-show="advSearchCntrl.is2ndHeloc">
                <label class="col-md-12 control-label" for="txtHELOCCreditLimit">HELOC&nbsp;Credit&nbsp;Line&nbsp;Limit</label>
                <div class="col-md-12">
                    <input type="text" class="form-control input-md" id="txtHELOCCreditLimit"
                           ng-model="advSearchCntrl.helocCreditLimit"
                           format-currency>
                </div>
            </div>

            <div class="form-group" ng-show="advSearchCntrl.is2ndHeloc">
                <label class="col-md-12 control-label" for="txtHELOCBalance">HELOC&nbsp;Balance</label>
                <div class="col-md-12">
                    <input type="text" class="form-control input-md" id="txtHELOCCreditLimit"
                           ng-model="advSearchCntrl.helocBalance"
                           format-currency>
                </div>
            </div>
            <div class="form-group" ng-show="advSearchCntrl.isPurch">
                <label class="col-md-12 control-label" for="chk1stTimeHomeBuyer">1st&nbsp;Time&nbsp;Home&nbsp;Buyer?</label>
                <div class="col-md-12">
                    <input type="checkbox" class="input-md" id="chk1stTimeHomeBuyer"
                           ng-model="advSearchCntrl.is1stTimeHomeBuyer">
                </div>
            </div>
            <div class="form-group" >
                <label class="col-md-12 control-label" for="chkVAEligible">Eligible&nbsp;for&nbsp;VA&nbsp;Loan?</label>
                <div class="col-md-12">
                    <input type="checkbox" class="input-md" id="chkVAEligible" ng-click="advSearchCntrl.clearVAInfomation()"
                           ng-model="advSearchCntrl.isVAEligible">
                </div>
            </div>

            <div class="form-group" ng-show="advSearchCntrl.isVAEligible">
                <label class="col-md-12 control-label" for="chkVAUsedBefore">Used&nbsp;before?</label>
                <div class="col-md-12">
                    <input type="checkbox" class="input-md" id="chkVAUsedBefore"
                           ng-model="advSearchCntrl.isVAUsedBefore">
                </div>
            </div>

            <div class="form-group" ng-show="advSearchCntrl.isVAEligible">
                <label class="col-md-12 control-label" for="chkVADisability">On&nbsp;VA&nbsp;Disability?</label>
                <div class="col-md-12">
                    <input type="checkbox" class="input-md" id="chkVADisability"
                           ng-model="advSearchCntrl.isOnVADisablity">
                </div>
            </div>
           
            <div class="form-group" ng-show="advSearchCntrl.isVAEligible">
                <label class="col-md-12 control-label" for="selectMilitaryBranch">Military&nbsp;&amp;&nbsp;Branch</label>
                <div class="col-md-12">
                    <select id="selectMilitaryBranch" class="form-control loan-purpose-select" ng-model="advSearchCntrl.militaryBranch"
                            ng-options="branchType.value as branchType.text for branchType in advSearchCntrl.militaryBranches"></select>
                </div>
            </div>
        </div>
        <!--Column Three-->

    </fieldset>
</form>

