<div class="imp-test-mode-product-popup-container">
    <div class="header">
        <div>Digital Docs Test Mode</div>
    </div>
    <div class="content">
        <div class="row">
            <div>Loan Product ID:</div>
            <input type="text" ng-model="testModeProductPopupCtrl.productId">
        </div>
    </div>
    <div class="footer">
        <input type="button" value="Cancel" class="imp-button-hm-wm-sec" ng-click="testModeProductPopupCtrl.cancel()">
        <input type="button" value="Continue" class="imp-button-hm-wm-prim" ng-click="testModeProductPopupCtrl.done()">
    </div>
</div>
