<div class="imp-popover imp-body full-legal-description">
    <div class="container container-position">
        <div class="header header-position" style="">Full Legal Description </div>
        <div class="body">
            <textarea class="textarea-pos" ng-model="modalpopoverCtrl.model.fullLegal"></textarea>
        </div>
        <div class="footer">
            <div class="buttons">
                <div class='imp-button-div-hs-ws-sec' ng-click="modalpopoverCtrl.cancel()">Cancel</div>
                <div class='imp-button-div-hs-ws-prim' ng-click="modalpopoverCtrl.done({ctrl:modalpopoverCtrl, ctrlMain:modalpopoverCtrl.ctrl, model:modalpopoverCtrl.model})">Done</div>
            </div>
        </div>

    </div>
    
</div>