/* Bootstrap has breakpoints at 768px(sm), 992px(md), 1200px(lg)
@media (min-width: 768px) {
    .my-class {
        padding: 10px 10% 5px 10%;
    }
}
*/

.demo_margin {
    margin-top: 190px;
}

.demo-margin-esign-instruct {
    margin-top: 145px;
}


.auth-a a{
    font-size: 11px;
}


/*==================================================
 * Important Global Classes
 * ===============================================*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #3d3d3d;
}
.mgt_05 {
    margin-top: 0.5em;
}
.mgt_2 {
    margin-top: 2em;
}
.link {
    color: #6d63e0;
    cursor: pointer;
}
.inline {
    display: inline-block;
}
.pdl_0 {
    padding-left: 0px;
}

/*==================================================
 * App Global Layout
 * ===============================================*/

.app-container {
    position: relative;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 10px;
}
@media (min-width: 768px) {
    .app-container {
        padding: 0px 15px;
    }
}
@media (min-width: 1280px) {
    .app-container {
        padding: 0px 20px;
    }
}
@media (min-width: 1320px) {
    .app-container {
        padding: 0px 0px;
    }
}


/*==================================================
 * Input Validation Classes
 * ===============================================*/

input.ng-dirty.ng-invalid:not([disabled]),
input.ng-touched.ng-invalid:not([disabled]) {
    background-color: #fdeaea;
    border: 1px solid #ef1126 !important;
    color: #a3a3a3 !important;
}
.select-validation.input-validation-error:not([disabled]),
.select-validation.ng-dirty.ng-invalid:not([disabled]),
.select-validation.ng-dirty.ng-invalid:not([disabled]):hover,
.select-validation.ng-dirty.ng-invalid:not([disabled]):focus,
.select-validation.ng-touched.ng-invalid:not([disabled]),
.select-validation.ng-touched.ng-invalid:not([disabled]):hover,
.select-validation.ng-touched.ng-invalid:not([disabled]):focus {
    border-color: #ef1126 !important;
    background-color: #FDEAEA !important;
    color: #a3a3a3;
}
.input-match div.input-state:after {
    content: "doesn't match";
    color: red;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-calendar-picker-indicator,
input[type=month]::-webkit-inner-spin-button,
input[type=month]::-webkit-outer-spin-button,
input[type=month]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    margin: 0;
}
input[type=date]::-webkit-calendar-picker-indicator,
input[type=month]::-webkit-calendar-picker-indicator {
    display: none;
}

/*==================================================
 * Checkboxes
 * ===============================================*/

.form-group .checkbox {
    text-align: left;
    margin-left: 45px;
}
input[type=checkbox] + label {
    font-weight: 100;
    padding-left: 13px;
}
.form-group .checkbox-lg {
    margin-bottom: 9px;
}
.checkbox-label-lg {
    font-size: 15px;
}

/*==================================================
 * Radio Buttons
 * ===============================================*/

input[type=radio] + label {
    font-weight: 100;
    margin-right: 13%;
    padding-left: 3px;
}
input[type=radio] + label.last {
    margin-right: 0%;
}
.section-question-radio {
    padding-left: 6%;
}
.section-question-radio input[type=radio] + label {
    margin-right: 5%;
}

/*==================================================
 * Text Alignment
 * ===============================================*/

.left {
    text-align: left !important;
}
.center {
    text-align: center !important;
}
.right {
    text-align: right !important;
}

/*==================================================
 * Text Colors
 * ===============================================*/

.black-text {
    color: #000000 !important;
}
.grey-text {
    color: #9d9d9d !important;
}
.red-text {
    color: #EF1126 !important;
}
.red-text-header {
    color: #EF1126;
    font-weight: bold;
}
.green-text-header {
    color: #1FB25A;
    font-weight: bold;
}

/*==================================================
 * Font-Weight
 * ===============================================*/

.bold {
    font-weight: bold !important;
}
.thin {
    font-weight: 100;
}


/*==================================================
 * Page Body
 * ===============================================*/

.center-block {
    min-height: 795px;
}
.view-body-2 {
    margin-top: 65px;
}
.pricing-view-body {
    margin-top: 65px;
}
.wizard-content {
    padding: 15px 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
}

/*==================================================
 * Div tables
 * ===============================================*/

.rTable {
    display: table;
}
.rTableRow {
    display: table-row;
}
.rTableHeading {
    display: table-header-group;
}
.rTableBody {
    display: table-row-group;
}
.rTableFoot {
    display: table-footer-group;
}
.rTableRow > div {
    display: table-cell;
}




/*==================================================
 * PricingNavbar.css
 * 
 * Created By: Adam Alt
 * Created On: 2016-01-29
 * 
 * Breakpoints at: 320px(mobile), 768px(medium), and 1280px(desktop)
 * 
 * ===============================================*/

.pricing-navbar.front {
    z-index: 1031 !important;
}
.pricing-navbar {
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
    height: 60px;
    margin-bottom: 0px;
    padding: 5px 0px 0px 0px;
    background-color: #fff;
    border-radius: 0;
    border-width: 0px;
    z-index: 1029;
}
@media (min-width: 768px) {
    .pricing-navbar {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
    }
}

/*==================================================
 * Loan App Navbar - Header
 * ===============================================*/

@media (min-width: 1280px) {
    .pricing-navbar .navbar-header {
        float: left;
    }
}

/*==================================================
 * Pricing Navbar - Logo
 * ===============================================*/

.pricing-navbar .navbar-brand {
    float: right;
    padding: 15px 0px 0px 0px;
}
.pricing-navbar .logo-img {
    content: url(images/cloud-virga-logo2.png);
    height: 43px;
    margin-top: -13px;
    margin-right: -5px;
    margin-left: -1px;
}
@media (min-width: 768px) {
    .pricing-navbar .navbar-brand {
        float: left;
    }
    .pricing-navbar .logo-img {
        margin-top: -13px;
        content: url(images/cloud-virga-logo.png);
    }
}
@media (min-width: 1280px) {
    .pricing-navbar .navbar-brand {
        padding: 15px 0px 0px 0px;
        width: 200px;
    }
    .pricing-navbar .logo-img {
        margin-top: -17px;
        margin-left: -3px;
    }
}

/*==================================================
 * Pricing Navbar - Toggle Button
 * ===============================================*/

.pricing-navbar .pricing-navbar-toggle {
    display: none;
}
.pricing-navbar .pricing-navbar-toggle.in {
    display: inline-block;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    border: none;
    float: left;
}
.pricing-navbar .pricing-navbar-toggle:focus {
    background-color: #e1f9ff;
}
.pricing-navbar .pricing-navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #6D6D6D;
}
.pricing-navbar .pricing-navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
@media (min-width: 1280px) {
    .pricing-navbar .pricing-navbar-toggle {
        display: none !important;
    }
}

/*==================================================
 * Pricing Navbar - Close Button
 * ===============================================*/

.pricing-navbar .pricing-navbar-close {
    display: none;
}
.pricing-navbar .pricing-navbar-close.in {
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    width: 68px;
    height: 60px;
    margin-top: -5px;
    padding-top: 11px;
    padding-left: 23px;
    border-right: 1px solid #E1E1E1;
    font-size: 26px;
    background-color: #fff;
    cursor: pointer;
}
@media (min-width: 786px) {
    .pricing-navbar .pricing-navbar-close.in {
        width: 73px;
        padding-left: 28px;
    }
}
@media (min-width: 1280px) {
    .pricing-navbar .pricing-navbar-close {
        display: none !important;
    }
}

/*==================================================
 * Pricing Navbar - Collapse region
 * ===============================================*/

.pricing-navbar .pricing-navbar-collapse {
    position: absolute;
    top: 55px;
    background: #fff;
    margin: 0px 0px 0px -15px;
    padding: 0px;
    width: 235px;
    height: 100vh;
}
.pricing-navbar .pricing-navbar-collapse-backdrop {
    position: absolute;
    top: 0px;
    left: 235px;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
@media (min-width: 1280px) {
    .pricing-navbar .pricing-navbar-collapse {
        position: static;
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: auto;
    }
    .pricing-navbar .pricing-navbar-collapse-backdrop {
        display: none;
    }
    .pricing-navbar .pricing-navbar-collapse.in {
        overflow-y: visible;
    }
    .pricing-navbar .pricing-navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

/*==================================================
 * Pricing Navbar - Links
 * ===============================================*/

.pricing-navbar .pricing-navbar-nav > li > a {
    font-size: 21px;
    color: #3d3d3d;
    padding: 10px 15px;
    line-height: 20px;
}
.pricing-navbar .pricing-navbar-nav > li > a:hover,
.pricing-navbar .pricing-navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
@media (min-width: 1280px) {
    .pricing-navbar .pricing-navbar-nav {
        float: left;
        margin: 0;
    }
    .pricing-navbar .pricing-navbar-nav > li {
        float: left;
    }
    .pricing-navbar .pricing-navbar-nav > li > a {
        color: #3d3d3d;
        font-size: 14px;
        padding: 15px 47px 0px 0px;
    }
}

/*==================================================
 * Pricing Navbar - Link Images
 * ===============================================*/

.pricing-navbar .navbar-link-img {
    display: inline-block;
    width: 65px;
}
@media (min-width: 1280px) {
    .pricing-navbar .navbar-link-img {
        display: none;
    }
}

/*==================================================
 * Pricing Navbar - Custom Link Images
 * ===============================================*/

.pricing-navbar .icon-cash-house {
    margin-left: 3px;
    margin-bottom: 7px;
    color: #1FB25A;
}

/*==================================================
 * Loan App Navbar - Mobile Divider
 * ===============================================*/

.pricing-navbar .mobile-menu-divider {
    float: left;
    border-left: 1px solid #bdbebe;
    height: 40px;
    margin: 4px 25px 0px 15px;
}
@media (min-width: 1280px) {
    .pricing-navbar .mobile-menu-divider {
        display: none;
    }
}

/*==================================================
 * Pricing Navbar - Back Button
 * ===============================================*/

.pricing-navbar .back-button {
    float: left;
}
@media (min-width: 768px) {
    .pricing-navbar .back-button {
        display: none;
    }
}

/*==================================================
 * Pricing Navbar - Need Help Region
 * ===============================================*/

.pricing-navbar .need-help-region {
    display: none;
}
@media (min-width: 786px) {
    .pricing-navbar .need-help-region {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 2px;
        padding-right: inherit;
    }
    .pricing-navbar .need-help-phone {
        color: #1FB25B;
    }
}



/*==================================================
 * Banner.css
 * 
 * Created By: Adam Alt
 * Created On: 2016-01-30
 * 
 * Breakpoints at: 320px(mobile), 768px(medium), and 1280px(desktop)
 * 
 * ===============================================*/

.banner {
    position: relative;
    margin-top: 0px;
    background-color: #f9f9f9;
    height: 55px;
}
@media (min-width: 768px) {
    .banner {
        margin-top: 150px;
        height: 150px;
        padding-top: 30px;
    }
}

/*==================================================
 * Banner - Title Region
 * ===============================================*/

.banner .banner-title-region {
    display: none;
}
@media (min-width: 768px) {
    .banner .banner-title-region {
        display: block;
        max-width: 510px;
        padding-top: 23px;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }
    .banner .banner-title-text-region {
        display: inline-block;
        vertical-align: top;
        margin-left: -40px;
    }
    .banner .banner-title-text {
        font-size: 21px;
    }
    .banner .banner-subtitle-text {
        font-size: 17px;
    }
}
@media (min-width: 1280px) {
    .banner .banner-title-region {
        max-width: 100%;
    }
    .banner .banner-title-text-region {
        margin-left: 0px;
    }
    .banner .banner-title-text {
        font-size: 24px;
    }
}

/*==================================================
 * Banner - Icon
 * ===============================================*/

.banner .banner-icon {
    display: none;
}
@media (min-width: 1280px) {
    .banner .banner-icon {
        display: inline-block;
        font-size: 60px;
        color: #1FB25A;
        margin-right: 20px;
        height: 60px;
    }
}

/*==================================================
 * Banner - Back Button Region
 * ===============================================*/

.banner .back-button-region {
    display: none;
}
@media (min-width: 768px) {
    .banner .back-button-region {
        display: block;
        position: absolute;
        top: 43px;
        left: 3px;
        padding-left: inherit;
        color: #208ddc;
    }
    .banner .back-button-text {
        display: inline-block;
        font-size: 15px;
        vertical-align: top;
        margin-top: 6px;
    }
    .banner .back-button-icon {
        font-size: 2.4em;
    }
}

/*==================================================
 * Banner - Need Help Region
 * ===============================================*/

.banner .need-help-region {
    padding-top: 9px;
}
.banner .need-help-text {
    font-size: 13px;
    color: #727272;
}
.banner .need-help-phone {
    font-size: 15px;
    color: #3d3d3d;
}
@media (min-width: 768px) {
    .banner .need-help-region {
        position: absolute;
        top: 45px;
        right: 0px;
        padding-right: inherit;
        text-align: right;
    }
}

/*==================================================
 * Banner - Save for Later
 * ===============================================*/

.banner .save-for-later-region {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: inherit;
    text-align: right;
    padding-top: 9px;
}
.banner .save-for-later-text {
    font-size: 15px;
    color: #208ddc;
}
@media (min-width: 768px) {
    .banner .save-for-later-region {
        top: 17px;
    }
    .banner .save-for-later-region br {
        display: none;
    }
}



/*==================================================
 * LoanAppFeatureStyle.css
 * 
 * Created By: Adam Alt
 * Created On: 2016-01-28
 * 
 * Breakpoints at: 320px(mobile), 768px(medium), and 1280px(desktop)
 * 
 * ===============================================*/


/*==================================================
 * Loan App Navbar - Hide the pricing navbar on small width
 * ===============================================*/

@media (max-width: 768px) {
    .pricing-navbar {
        display: none;
    }
}

/*==================================================
 * Loan App Navbar
 * ===============================================*/

.loan-app-navbar {
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
    margin-top: 0px;
    height: 60px;
    margin-bottom: 0px;
    padding: 5px 0px 0px 0px;
    background-color: #fff;
    border-radius: 0;
    border-width: 0px 0px 1px 0px;
    z-index: 1030;
}
@media (min-width: 768px) {
    .loan-app-navbar {
        margin-top: 60px;
        height: 90px;
        padding: 19px 0px 0px 0px;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
    }
}

/*==================================================
 * Loan App Navbar - Logo
 * ===============================================*/

.loan-app-navbar .navbar-brand {
    float: right;
    padding: 15px 0px 0px 0px;
}
.loan-app-navbar .logo-img {
    content: url("../ConsumerSite/images/cloud-virga-logo2.png");
    height: 43px;
    margin-top: -13px;
    margin-right: -5px;
    margin-left: -1px;
}
@media (min-width: 768px) {
    .loan-app-navbar .logo-img {
        display: none;
        margin-top: -13px;
    }
}
@media (min-width: 1280px) {
    .loan-app-navbar .navbar-header {
        float: right;
    }
    .loan-app-navbar .navbar-brand {
        padding: 15px 0px 0px 0px;
        width: 200px;
    }
    .loan-app-navbar .logo-img {
        content: url("../ConsumerSite/images/cloud-virga-logo.png");
        margin-top: -17px;
        margin-left: -3px;
    }
}

/*==================================================
 * Loan App Navbar - Mobile Menu Icon
 * ===============================================*/

.loan-app-navbar .navbar-toggle {
    border: none;
    float: left;
    margin-right: 0px;
}
.loan-app-navbar .navbar-toggle .icon-bar {
    background-color: #6D6D6D;
}

/*==================================================
 * Loan App Navbar - Mobile Header, Divider, and Back Button
 * ===============================================*/

.loan-app-navbar .navbar-header {
    float: left;
    width: 100%;
}
.loan-app-navbar .mobile-menu-divider {
    float: left;
    border-left: 1px solid #bdbebe;
    height: 40px;
    margin: 4px 25px 0px 15px;
}
.loan-app-navbar .back-button {
    float: left;
}
@media (min-width: 768px) {
    .loan-app-navbar .mobile-menu-divider,
    .loan-app-navbar .back-button {
        display: none;
    }
    .loan-app-navbar .navbar-header {
        width: inherit;
    }
}

/*==================================================
 * Loan App Navbar - Collapse Region
 * ===============================================*/

.loan-app-navbar .loan-app-navbar-collapse {
    position: absolute;
    top: 55px;
    background: #fff;
    margin: 0px 0px 0px -15px;
    padding: 0px;
    width: 235px;
    height: 100vh;
}
.loan-app-navbar .loan-app-navbar-collapse-backdrop {
    position: absolute;
    top: 0px;
    left: 235px;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
@media (min-width: 768px) {
    .loan-app-navbar .loan-app-navbar-collapse {
        position: static;
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: auto;
        background-color: transparent;
    }
    .loan-app-navbar .loan-app-navbar-collapse-backdrop {
        display: none;
    }
    .loan-app-navbar .loan-app-navbar-collapse.in {
        overflow-y: visible;
    }
    .loan-app-navbar .loan-app-navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

/*==================================================
 * Loan App Navbar - Close Button
 * ===============================================*/

.loan-app-navbar .loan-app-navbar-close {
    display: none;
}
.loan-app-navbar .loan-app-navbar-close.in {
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    width: 68px;
    height: 60px;
    margin-top: -5px;
    padding-top: 11px;
    padding-left: 23px;
    border-right: 1px solid #E1E1E1;
    font-size: 26px;
    background-color: #fff;
    cursor: pointer;
}
@media (min-width: 786px) {
    .loan-app-navbar .loan-app-navbar-close {
        display: none !important;
    }
}

/*==================================================
 * Loan App Navbar - Mobile Menu Items
 * ===============================================*/

.loan-app-navbar .mobile-menu li > a {
    font-size: 21px;
    color: #3d3d3d;
    padding: 10px 15px;
    line-height: 20px;
}
@media (min-width: 768px) {
    .loan-app-navbar .mobile-menu {
        display: none;
    }
}

/*==================================================
 * Loan App Navbar - Breadcrumb
 * ===============================================*/

.loan-app-navbar .breadcrumb-nav {
    display: none;
}
@media (min-width: 768px) {
    .loan-app-navbar .breadcrumb-nav {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 530px;
        float: none;
    }
    .loan-app-navbar .breadcrumb-nav > li > a {
        color: #727272;
        font-size: 15px;
        padding: 15px 0px 0px 0px;
    }
    .loan-app-navbar .breadcrumb-nav > li.active > a,
    .loan-app-navbar .breadcrumb-nav > li.active > a:hover,
    .loan-app-navbar .breadcrumb-nav > li.active > a:focus {
        color: #1fb25a;
        border-bottom: 2px solid #1fb25a;
        background-color: transparent;
    }
    .loan-app-navbar .breadcrumb-nav > li.complete > a {
        color: #1fb25a;
    }
    .loan-app-navbar .breadcrumb-nav .breadcrumb-arrow {
        height: 19px;
        margin: 16px 4px 12px 4px;
    }
    .loan-app-navbar .breadcrumb-nav .icon-finish-flag {
        margin-top: -3px;
        font-size: 2em;
    }
}
@media (min-width: 1280px) {
    .loan-app-navbar .breadcrumb-nav {
        float: left;
    }
}

/*==================================================
 * Loan App Navbar - Link Images
 * ===============================================*/

.loan-app-navbar .navbar-link-img {
    display: inline-block;
    width: 65px;
}
@media (min-width: 1280px) {
    .loan-app-navbar .navbar-link-img {
        display: none;
    }
}

/*==================================================
 * Loan App Navbar - Custom Link Images
 * ===============================================*/

.loan-app-navbar .icon-cash-house {
    margin-left: 3px;
    margin-bottom: 7px;
    color: #1FB25A;
}

/*==================================================
 * Loan App Navbar - Stats Region
 * ===============================================*/

.loan-app-navbar .stats-region {
    position: absolute;
    top: 0px;
    left: 51%;
}
@media (min-width: 768px) {
    .loan-app-navbar .stats-region {
        left: auto;
        right: 0px;
        padding-right: inherit;
        z-index: -1;
    }
}

/*==================================================
 * Loan App Navbar - Percent Indicator
 * ===============================================*/

.loan-app-navbar .percent-indicator-img {
    height: 55px;
    vertical-align: top;
}
@media (min-width: 768px) {
    .loan-app-navbar .percent-indicator-img {
        height: 77px;
    }
}
.loan-app-navbar .percent-indicator-img.pct-5 {
    content: url(images/finish-indicator-5-sm.png);
    margin-top: -3px;
}
@media (min-width: 768px) {
    .loan-app-navbar .percent-indicator-img.pct-5 {
        content: url(images/finish-indicator-5.png);
        margin-top: -14px;
        margin-right: -5px;
    }
}

/*==================================================
 * Loan App Navbar - Percent Indicator
 * ===============================================*/

.loan-app-navbar .vis.spinner {
    margin-top: -9px;
    float: left;
}

/*==================================================
 * Loan App Navbar - Loan Stats
 * ===============================================*/

.loan-app-navbar .stats-divider {
    display: none;
}
.loan-app-navbar .loan-stats-table {
    display: none;
}
@media (min-width: 1280px) {
    .loan-app-navbar .stats-divider {
        display: inline-block;
        height: 55px;
        border-left: 1px solid #bdbebe;
        margin: -3px 15px 0px 15px;
    }
    .loan-app-navbar .loan-stats-table {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
    }
    .loan-app-navbar .loan-stats-table .data-row {
        color: #000;
        font-weight: 100;
        font-size: 17px;
    }
    .loan-app-navbar .loan-stats-table .label-row {
        color: #9d9d9d;
        font-weight: 100;
        font-size: 14px;
    }
    .loan-app-navbar .loan-stats-table .data-row > div {
        padding-right: 40px;
    }
    .loan-app-navbar .loan-stats-table .data-row > div:last-child {
        padding-right: 0px;
    }
}
@media (min-width: 1320px) {
    .loan-app-navbar .stats-divider {
        margin: -3px 30px 0px 45px;
    }
}
/*==================================================
 * Section Title
 * ===============================================*/

.section-title {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    margin-top: 15px;
}
.section-subtitle {
    font-size: 17px;
    color: #000000;
}
.section-subtitle-lg {
    font-size: 21px;
    color: #3d3d3d;
}
.section-subtitle-xs {
    font-size: 11px;
    color: #9d9d9d;
}
.section-title.top {
    margin-top: 0px;
}
.section-content {
    margin-top: 25px;
}
.section-content-lg {
    margin-top: 45px;
}
.section-content-sm {
    margin-top: 11px;
}
.section-underline {
    margin-bottom: 11px;
    border-bottom: 1px solid #BDBEBE;
}