.advancedSearchPosition .modal-dialog {
    margin-left: 200px;
    margin-top: 211px;
}

.allOptionsPosition .modal-dialog {
    margin-left: 400px;
    margin-top: 211px;
}

.detailedClosingCostsPosition .modal-dialog {
    margin-left: 400px;
    margin-top: 211px;
}