<div class="imp-compliance-check-popup">
    <div class="header">
        <div>Compliance Check Passed!</div>
    </div>
    <div class="content">
        <div class="row">
            <div>Would you like to create initial disclosures now?</div>
        </div>
    </div>
    <div class="footer">
        <button class='imp-button-hm-wm-sec' ng-click="complianceCheckPassedPopupCtrl.cancel()">No</button>
        <button class='imp-button-hm-wm-prim' ng-click="complianceCheckPassedPopupCtrl.done()">Yes</button>
    </div>
</div>

