 <div class="credit-run-container" ng-style="{ 'margin-top': (runCredit.wrappedLoan.ref.active.credit.creditExceptionsResolved && runCredit.wrappedLoan.ref.active.getBorrower().ficoScore) ? '-98px' : '-106px' }">
    <div class="btn-group" dropdown>
        <button type="button" class="credit-run-button-prim imp-button-general " ng-disabled="runCredit.disableRunCreditButton()"
                ng-click="runCredit.runCreditClicked($event)">
            {{runCredit.selectedRunCreditAction.id == 0 || runCredit.selectedRunCreditAction == 1  ? 'Run Credit' : runCredit.selectedRunCreditAction.name}}
            <span class="divider"></span>
        </button>

        <button type="button"
                class="dropdown-toggle credit-run-button-sec  imp-button-general" dropdown-toggle ng-disabled="runCredit.disableRunCreditButton()">
            <span class="arrow"></span>
        </button>

        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="item in runCredit.runCreditButtonActions">
                <a ng-click="runCredit.setRunCreditAction(item)">{{item.name}}</a>
            </li>
        </ul>
    </div>
</div>